.container {
	width: 700px;
  height: 700px;
  border: 1px solid red;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid black;
}

.dead {
  background-color: gainsboro;
}

.alive {
  background-color: black;
}

.size {
  border: 1px solid black;
}

.preset {
  border: 1px solid black;
}
.mouseover {
  background-color: yellow;
}

.speed {
  border: 1px solid black;
  display: block;
}

.start {
  border: 1px solid black;
}

.toggle_grid {
  border: 1px solid black;
}

.settings {
  border: 1px solid black;
  flex-grow: 1;
}

.top {
  display: flex;
}

.picker {
  border: 1px solid black;
  flex-grow: 1;
}
